

.popup-container {

    .btn-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px;
    
        p {
            font-weight: bold;
            margin: 0;
        }

        span {
            
            * {
                padding: 4px 5px;
                background-color: #55efc4;
                background-color: #00b894;
                border: none;
            }
        }

    }

    .table-wrapper {

        .selectButton {

            * {
                padding: 4px 5px;
                padding: 3px 6px;
                font-size: 1em;
                color: #ED4C67;
                color: #12CBC4;
            }
        }

        .trueUnique {

            * {
                color: white !important;
            }
        }

        .activeStatus {
            

            * {
                color: white !important;
            }
        }
    }
    
    ul { 

        .data-wrapper {
            border: .5px solid #b2bec3;
            border: .5px solid #E5E7EB;
            border-radius: 5px;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .list {
                align-items: center;


                li {
                    margin-left: 5px;
                }
            }


            .icons-wrapper {

                i {
                    cursor: pointer;
                }

                i:nth-child(1) {
                    margin-right: 10px;
                }

            }
            
        }

        .selected {
            border: .5px solid #6266F1;

        
            .list {

                li {
                    color: #6266F1;
                    font-weight: bold;
                }
            }

            .icons-wrapper {

                i {
                    color: #6266F1;
                    font-weight: bold;
                }

            }
        
        }


        .data-wrapper:not(:last-child) {
            margin-bottom: 10px;
        }

        

    }
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

td, th {
// border: 1px solid #dddddd;
text-align: left;
text-align: center;
padding: 8px;
}

td {
    cursor: pointer;

    span {
        font-weight: bold;
        // font-size: .9em;
        color: #e67e22;
        // color: #e74c3c;
        // color: crimson;
    }
    span.rejected-statut {
        // color: crimson !important; 
        color: #e74c3c;
    }


}

tr:nth-child(even) {
background-color: #dddddd;
background-color: #D0E1FD;
}

th {
    background-color: #000;
    background-color: #74b9ff;
    background-color: #6266F1;
    color: white;
    font-size: 1em;
    // color: #2196F3;
    // border-radius: 10px 10px 0 0;
}